:host {
  display: flex;
  position: relative;
  min-height: 50px;
  margin-top: 8px;
  flex-direction: column;
}
.empty {
  height: 76px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.red {
  border: 1px solid;
  border-radius: 4px;
  padding: 2px 5px 3px;
  font-weight: bolder;
  color: #ce3f51;
}
.alert {
  margin-top: 1rem;
}
