:host {
  display: block;
  margin-top: 8px;
}
.list-group-item.info {
  display: flex;
  align-items: center;
  cursor: default;
}
.list-group-item.info .legend {
  width: 60px;
}
.list-group-item.info .links {
  position: relative;
  margin-top: 10px;
  padding: 10px 30px 10px 15px;
  background-color: #e5e5e5;
}
.list-group-item.info .links .btn-close {
  position: absolute;
  right: 13px;
  top: 10px;
}
.list-group-item.info .overlay.no-pointer {
  cursor: inherit;
}
