<div [class.separator]="subheader && (subheader != '...')">
  <button (click)="display.emit('annotationsVisible', false)" title="Annotaties sluiten" class="btn btn-link close">
    <svg class="di">
      <use href="../assets/dso-icons.svg#times"></use>
    </svg>
  </button>
  <button *ngIf="!legal" (click)="display.emit('annotationsVisible', 'legal')" title="Annotaties juridisch weergeven" class="btn btn-link close">
    <svg class="di di-sm">
      <use href="../assets/dso-icons.svg#cultural"></use>
    </svg>
  </button>
  <button *ngIf="legal" (click)="display.emit('annotationsVisible', true)" title="Annotaties volledig weergeven" class="btn btn-link close">
    <svg class="di di-sm">
      <use href="../assets/dso-icons.svg#buildings"></use>
    </svg>
  </button>
  <strong>{{!legal? "Annotaties": "Geografische begrenzingen"}} {{header}}</strong>
  <div>{{subheader || "geen annotaties"}}</div>
</div>
<div class="content">
  <ng-template [ngIf]="!legal">
    <ng-template ngFor let-h [ngForOf]="hoofdlijnen">
      <h6>Hoofdlijn {{h.soort}}</h6>
      <div *ngFor="let o of h.hoofdlijnen">
        {{o.hoofdlijn.naam}} <span *ngIf="!o.own">(<span *ngIf="o.inherited" class="fa fa-level-up-alt"></span><span *ngIf="o.offspring" class="fa fa-level-down-alt"></span>)</span>
      </div>
    </ng-template>
  </ng-template>
  <h6 *ngIf="!legal && locaties.length">Werkingsgebied{{locaties.length > 1? "en": ""}}</h6>
  <div *ngFor="let o of locaties">
    <label (mouseover)="highlightModel.setHighlight(o.locatie, false)" (mouseout)="highlightModel.setHighlight(null, false)">
      <input type="checkbox" (change)="imowModel.toggleAnnotationLayer(o.locatie, 'L')" [checked]="isChecked(o.locatie)"/><span class="checkmark"></span>
      {{o.locatie.noemer || (!legal? "naamloos werkingsgebied": "naamloze begrenzing")}}
      <span *ngIf="o.locatie.technischId" class="redalert">ontwerp</span>
      <span *ngIf="!o.own">(<span *ngIf="o.inherited" class="fa fa-level-up-alt"></span><span *ngIf="o.offspring" class="fa fa-level-down-alt"></span>)</span>
    </label>
  </div>
  <h6 *ngIf="!legal && gebiedsaanwijzingen.length">Gebiedsaanwijzing{{gebiedsaanwijzingen.length > 1? "en": ""}}</h6>
  <div *ngFor="let o of gebiedsaanwijzingen">
    <label (mouseover)="highlightModel.setHighlight(o.gebiedsaanwijzing, false)" (mouseout)="highlightModel.setHighlight(null, false)">
      <input type="checkbox" (change)="imowModel.toggleAnnotationLayer(o.gebiedsaanwijzing, 'G')" [disabled]="isGebiedsaanwijzingDisabled(o.gebiedsaanwijzing)" [checked]="isChecked(o.gebiedsaanwijzing)"/><span class="checkmark"></span>
      {{!legal? o.gebiedsaanwijzing.viewName: (o.gebiedsaanwijzing.locaties[0].noemer || "naamloze begrenzing")}}
      <span *ngIf="!o.own">(<span *ngIf="o.inherited" class="fa fa-level-up-alt"></span><span *ngIf="o.offspring" class="fa fa-level-down-alt"></span>)</span>
    </label>
  </div>
  <h6 *ngIf="!legal && activiteitlocatieaanduidingen.length">Activiteit{{activiteitlocatieaanduidingen.length > 1? "en": ""}}</h6>
  <div *ngFor="let o of activiteitlocatieaanduidingen">
    <label (mouseover)="highlightModel.setHighlight(o.activiteitlocatieaanduiding, false)" (mouseout)="highlightModel.setHighlight(null, false)">
      <input type="checkbox" (change)="imowModel.toggleAnnotationLayer(o.activiteitlocatieaanduiding, 'A')" [disabled]="isActiviteitlocatieaanduidingDisabled(o.activiteitlocatieaanduiding)" [checked]="isChecked(o.activiteitlocatieaanduiding)"/><span class="checkmark"></span>
      {{!legal? o.activiteitlocatieaanduiding.viewName: (o.activiteitlocatieaanduiding.locaties[0].noemer || "naamloze begrenzing")}}
      <span *ngIf="!o.own">(<span *ngIf="o.inherited" class="fa fa-level-up-alt"></span><span *ngIf="o.offspring" class="fa fa-level-down-alt"></span>)</span>
    </label>
  </div>
  <h6 *ngIf="omgevingsnormen.length">Omgevingsnorm{{omgevingsnormen.length > 1? "en": ""}}</h6>
  <div *ngFor="let o of omgevingsnormen">
    <label (mouseover)="highlightModel.setHighlight(o.omgevingsnorm, false)" (mouseout)="highlightModel.setHighlight(null, false)">
      <input type="checkbox" (change)="imowModel.toggleAnnotationLayer(o.omgevingsnorm, 'N')" [disabled]="isOmgevingsnormDisabled(o.omgevingsnorm)" [checked]="isChecked(o.omgevingsnorm)"/><span class="checkmark"></span>
      {{o.omgevingsnorm.viewName}}
      <span *ngIf="!o.own">(<span *ngIf="o.inherited" class="fa fa-level-up-alt"></span><span *ngIf="o.offspring" class="fa fa-level-down-alt"></span>)</span>
    </label>
  </div>
  <div *ngIf="legalWarning">
    Sommige annotaties konden niet juridisch geduid worden.
  </div>
</div>
<div *ngIf="imowModel.numLoadingD" class="dso-progress-indicator">
  <div class="dso-progress-indicator-bg"></div>
  <div class="dso-progress-indicator-spinner">
    <span class="num">{{imowModel.numLoadingD}}</span>
  </div>
</div>
