:host {
  display: block;
  height: 100%;
  padding: 16px;
  background-color: #e5e5e5;
}
strong {
  font-size: 18px;
  color: #275937;
}
.content {
  height: calc(100% - 27px);
  .separator {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 12px;
  }
  .subcontent {
    height: calc(100% - 37px);
    overflow: auto;
    h6 {
      margin: 12px 0;
      line-height: 1.5;
      color: #191919;
    }
    label {
      margin-bottom: 0.75rem;
    }
  }
}
.dso-progress-indicator {
  top: 5px;
}
