<button (click)="display.emit('annotationsVisible', false)" title="Annotaties sluiten" class="btn btn-link close">
  <svg class="di">
    <use href="../assets/dso-icons.svg#times"></use>
  </svg>
</button>
<strong>{{header}}</strong>
<div *ngIf="regeltekst" class="content">
  <div [class.separator]="regeltekst.locaties || regeltekst.gebiedsaanwijzingen || regeltekst.omgevingsnormen">
    {{regeltekst.typeJuridischeRegels}}
  </div>
  <div class="subcontent">
    <div *ngIf="regeltekst.locaties">
      <h6>Werkingsgebied{{regeltekst.locaties.length > 1? 'en': ''}}</h6>
      <div *ngFor="let locatie of regeltekst.locaties">
        <label>
          <input type="checkbox" (change)="imowModel.toggleAnnotationLayer(locatie, 'L')" [checked]="isChecked(locatie)"/><span class="checkmark"></span>
          {{locatie.noemer || "naamloos werkingsgebied"}}
        </label>
      </div>
    </div>
    <div *ngIf="regeltekst.gebiedsaanwijzingen">
      <h6>Gebiedsaanwijzing{{regeltekst.gebiedsaanwijzingen.length > 1? 'en': ''}}</h6>
      <div *ngFor="let gebiedsaanwijzing of regeltekst.gebiedsaanwijzingen">
        <label>
          <input type="checkbox" (change)="imowModel.toggleAnnotationLayer(gebiedsaanwijzing, 'A')" [disabled]="isGebiedsaanwijzingDisabled(gebiedsaanwijzing)" [checked]="isChecked(gebiedsaanwijzing)"/><span class="checkmark"></span>
          {{gebiedsaanwijzing.viewName}}
        </label>
      </div>
    </div>
    <div *ngIf="regeltekst.omgevingsnormen">
      <h6>Omgevingsnorm{{regeltekst.omgevingsnormen.length > 1? 'en': ''}}</h6>
      <div *ngFor="let omgevingsnorm of regeltekst.omgevingsnormen">
        <label>
          <input type="checkbox" (change)="imowModel.toggleAnnotationLayer(omgevingsnorm, 'N')" [disabled]="isOmgevingsnormDisabled(omgevingsnorm)" [checked]="isChecked(omgevingsnorm)"/><span class="checkmark"></span>
          {{omgevingsnorm.viewName}}
        </label>
      </div>
    </div>
  </div>
</div>
<div *ngIf="imowModel.numLoadingD" class="dso-progress-indicator">
  <div class="dso-progress-indicator-bg"></div>
  <div class="dso-progress-indicator-spinner">
    <span class="num">{{imowModel.numLoadingD}}</span>
  </div>
</div>
