:host {
  display: flex;
  height: 100%;
  padding: 16px;
  background-color: #e5e5e5;
  flex-direction: column;
}
.separator {
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 12px;
}
.di.di-sm {
  width: 20px;
  height: 20px;
  margin: 2px;
}
strong {
  font-size: 18px;
  color: #275937;
}
.content {
  overflow: auto;
  h6 {
    margin: 18px 0 0 0;
    line-height: 1.5;
    color: #191919;
  }
  h6:first-child {
    margin: 0;
  }
  div label {
    margin: 12px 0 0 0;
  }
  div:first-child label {
    margin: 4px 0 0 0;
  }
}
.dso-progress-indicator {
  top: 5px;
}
