<n-map [nTap]="pointOrLineString? measureModel.addXY.bind(measureModel): mark.bind(this)" [nMousemove]="pointOrLineString? measureModel.setXY.bind(measureModel): null" (dblclick)="pointOrLineString? measureModel.close(): null">
  <tileslayer [layer]="(nineyDefaultService.defaultFocusModel.animationCenterScale.scale > 2381.100862299) && (layerModel.backgroundLayer == layerModel.backgroundLayers[3])? layerModel.backgroundLayers[2]: layerModel.backgroundLayer" [loader]="loader"></tileslayer>
  <wmslayer [layer]="(nineyDefaultService.defaultFocusModel.animationCenterScale.scale > 2381.100862299)? null: layerModel.layers[0]" [loader]="loader" [ngStyle]="{filter: layerModel.backgroundLayer == layerModel.backgroundLayers[4]? 'invert(100%)': ''}"></wmslayer>
  <wmslayer [layer]="layerModel.layers[1]" [loader]="loader" [ngStyle]="{opacity: layerModel.planOpacity / 100}"></wmslayer>
  <tileslayer [layer]="layerModel.layers[2]" [loader]="loader" protocol="WMTS" tilewidth="512" tileheight="512" [ngStyle]="{opacity: layerModel.planOpacity / 100}"></tileslayer>
  <tileslayer [layer]="layerModel.layers[3]" [loader]="loader" protocol="WMTS" tilewidth="512" tileheight="512" [ngStyle]="{opacity: layerModel.otherPlansOpacity / 100}"></tileslayer>
  <mapfeaturelayer *ngIf="planModel.plan" [layer]="layerModel.layers[4]" [ngStyle]="{opacity: layerModel.planOpacity / 100, stroke: (['beheersverordening', 'omgevingsvergunning', 'voorbereidingsbesluit', 'gemeentelijk plan; voorbereidingsbesluit'].includes(planModel.plan.typePlan)? '#00f': '#000')}">
    <canvassymbolizer [geometry]="planModel.plan.geometrie" [ngStyle]="highline"></canvassymbolizer>
    <canvassymbolizer [geometry]="planModel.plan.geometrie" [ngStyle]="bumps"></canvassymbolizer>
  </mapfeaturelayer>
  <vectortileslayer [layer]="(nineyDefaultService.defaultFocusModel.animationCenterScale.scale > 38097.613796779)? null: layerModel.layers[5]" [loader]="loader" [ngStyle]="{opacity: layerModel.planOpacity / 300}">
    <canvassymbolizer [ngStyle]="baseline"></canvassymbolizer>
  </vectortileslayer>
  <vectortileslayer *ngIf="annotationLayersVisible" [layer]="layerModel.layers[5]" [ngStyle]="{opacity: layerModel.planOpacity / 100}">
    <ng-template ngFor let-annotationLayer [ngForOf]="imowModel.annotationLayers">
      <ng-template [ngIf]="annotationLayer.visible">
        <canvassymbolizer [filter]="annotationLayer.filter" [cssfunction]="annotationLayer.cssFunction" [patterns]="imowValueModel.patterns" [css]="graphicSize" [class.confinefill]="annotationLayer.confineFill" [ngStyle]="annotationLayer.mapStyle || baseline"></canvassymbolizer>
        <ng-template [ngIf]="annotationLayer.labelCssFunction">
          <canvassymbolizer [filter]="annotationLayer.filter" [cssfunction]="annotationLayer.labelCssFunction" [label]="true" [ngStyle]="label"></canvassymbolizer>
        </ng-template>
      </ng-template>
    </ng-template>
  </vectortileslayer>
  <vectortileslayer *ngIf="planModel.plan" [layer]="layerModel.layers[5]" [loader]="loader" [filter]="planModel.plan.locatie" [ngStyle]="{opacity: layerModel.planOpacity / 100}">
    <canvassymbolizer [ngStyle]="highline" style="stroke-linejoin: bevel"></canvassymbolizer>
    <canvassymbolizer [ngStyle]="bumps"></canvassymbolizer>
  </vectortileslayer>
  <mapfeaturelayer [layer]="layerModel.layers[6]">
    <canvassymbolizer [geometry]="highlightModel.imroHighlight['geometrie']" class="blackhighlight"></canvassymbolizer>
    <canvassymbolizer [geometry]="highlightModel.imroHighlight['geometrie']" [ngStyle]="highline" style="stroke: #f40"></canvassymbolizer>
  </mapfeaturelayer>
  <vectortileslayer [layer]="layerModel.layers[7]" [loader]="loader" [filtercssfunction]="highlightModel.imowHighlight" [class.confinefill]="highlightModel.imowHighlight.confineFill">
    <canvassymbolizer [css]="graphicSize" class="blackhighlight"></canvassymbolizer>
    <canvassymbolizer [css]="graphicSize" [ngStyle]="highline" style="stroke: #f40"></canvassymbolizer>
    <canvassymbolizer cssfunction="inherit" [label]="true" [ngStyle]="label"></canvassymbolizer>
  </vectortileslayer>
  <ng-template [ngIf]="markerModel.polygon" [ngIfElse]="noMarkerPolygon">
    <geometrylayer [geometry]="markerModel.polygon" [ngStyle]="underline"></geometrylayer>
    <geometrylayer [geometry]="markerModel.polygon" [ngStyle]="highline" style="stroke: #8b4a6a"></geometrylayer>
    <geometrylayer [geometry]="markerModel.polygon" [ngStyle]="bumps" style="stroke: #8b4a6a"></geometrylayer>
  </ng-template>
  <ng-template #noMarkerPolygon>
    <geometrylayer [geometry]="markerModel.xy" [ngStyle]="underline"></geometrylayer>
    <geometrylayer [geometry]="markerModel.xy" style="fill: #8b4a6a; stroke: #8b4a6a"></geometrylayer>
  </ng-template>
  <geometrylayer [geometry]="measureModel.geometry" [deepwatch]="true" class="measure"></geometrylayer>
</n-map>
<div *ngIf="numLoading == 1" class="loader">
  <span class="fa fa-spinner"></span> nog 1 plaatje aan het laden...
</div>
<div *ngIf="numLoading > 1" class="loader">
  <span class="fa fa-spinner"></span> {{numLoading}} plaatjes aan het laden...
</div>
<div class="coordinates">
  {{nineyDefaultService.defaultFocusModel.incubationCenterScale.centerX.toFixed(0)}}, {{nineyDefaultService.defaultFocusModel.incubationCenterScale.centerY.toFixed(0)}}
</div>
<div class="sidebar">
  <div class="box-sm">
    <button (click)="zoomIn()" title="Inzoomen" class="btn btn-default btn-sm">
      <span class="fa fa-plus"></span>
    </button>
    <button (click)="zoomOut()" title="Uitzoomen" class="btn btn-default btn-sm">
      <span class="fa fa-minus"></span>
    </button>
    <button (click)="measureModel.toggle()" [title]="measureButtonTitle" class="btn btn-default btn-sm" [class.selected]="measureModel.geometry">
      <span class="fa fa-ruler-combined"></span>
    </button>
    <button (click)="legendPanelVisible = !legendPanelVisible" [title]="legendButtonTitle" class="btn btn-default btn-sm" [class.selected]="legendPanelVisible">
      <span class="fa fa-layer-group"></span>
      <div *ngIf="imowModel.annotationLayers.length && !legendPanelVisible" class="dso-badge">{{imowModel.annotationLayers.length}}</div>
    </button>
<!--    <button ng-if="(planModel.plan.tabFilter == 'JURIDISCH') || (planModel.plan.tabFilter == 'ACTUEEL')" ng-click="printService.preparePrint(planModel.plan.identificatie)" title="De kaart printen" class="btn btn-default btn-sm" ng-class="{'btn-primary': windowModel.windows[2].visible}">
      <span class="glyphicon glyphicon-print"></span>
    </button>-->
    <button *ngIf="markerModel.xy" (click)="markerModel.zoomToMarker()" title="Naar de gemarkeerde plek zoomen" class="btn btn-default btn-sm">
      <span class="fa fa-map-marker"></span>
    </button>
  </div>
  <div *ngIf="measureModel.geometry" class="box-md">
    <div class="inner">
      <button (click)="measureModel.toggle()" [title]="measureButtonTitle" class="btn btn-link close">
        <svg class="di"><use href="../assets/dso-icons.svg#times"></use></svg>
      </button>
      <div class="measure">
        <h6>RD-coördinaten</h6>
        {{measureModel.viewCoords}}
      </div>
      <div class="measure">
        <h6>Afstand</h6>
        {{measureModel.viewLength}}
      </div>
      <div class="measure">
        <h6>Oppervlakte</h6>
        {{measureModel.viewArea}}
      </div>
      <div *ngIf="lineStringOrPolygon">
        <a href="javascript:void(0)" (click)="measureModel.reset(); measureModel.toggle()"><span class="fa fa-angle-right mr-2"></span>opnieuw tekenen</a>
      </div>
      <div *ngIf="realPolygon">
        <a href="javascript:void(0)" (click)="markerModel.setPolygon(measureModel.geometry); measureModel.reset()"><span class="fa fa-angle-right mr-2"></span>als plek markeren</a>
      </div>
    </div>
  </div>
  <dso-legend-panel *ngIf="legendPanelVisible" (close)="legendPanelVisible = false"></dso-legend-panel>
</div>
<!--  <div metricscalebar centerscale="defaultFocusModel.animationCenterScale"></div>-->
