:host {
  display: block;
  position: relative;
  height: 100%;
}
n-map {
  height: 100%;
  margin: 0 -11px;
}
.blackhighlight {
  fill: rgba(0, 0, 0, 0.4);
  stroke: #fff;
  stroke-width: 8px;
  --stroke-filter: blur(3px);
  --inverse-fill: 1;
}
.measure {
  fill: rgba(255, 192, 64, 0.4);
  stroke: #e90;
  stroke-width: 2px;
}
.loader {
  position: absolute;
  left: 8px;
  bottom: 8px;
  font-size: 10px;
  text-shadow: 0 0 2px #fff;
}
.coordinates {
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 10px;
  text-shadow: 0 0 2px #fff;
}
.box-sm {
  position: absolute;
  right: 12px;
  top: 16px;
}
.box-sm .btn-sm {
  display: block;
}
.box-md {
  position: absolute;
  right: 68px;
  top: 16px;
  border-radius: 4px;
  padding: 0 8px 8px;
  background-color: rgba(243, 243, 243, 0.8);
  h6 {
    margin: 8px 0 0;
    line-height: 1.5;
    color: #191919;
  }
}
