<!--<n-map n-tap="measureModel.geometry? measureModel.addXY: mark" n-mousemove="measureModel.geometry? measureModel.setXY: null" ng-dblclick="measureModel.reset()" class="fullheight">-->
<n-map [nTap]="mark.bind(this)">
  <tileslayer [layer]="(nineyDefaultService.defaultFocusModel.animationCenterScale.scale > 2381.100862299) && (layerModel.backgroundLayer == layerModel.backgroundLayers[3])? layerModel.backgroundLayers[2]: layerModel.backgroundLayer" [loader]="loader"></tileslayer>
  <wmslayer [layer]="layerModel.layers[0]" [loader]="loader" [ngStyle]="{filter: layerModel.backgroundLayer == layerModel.backgroundLayers[4]? 'invert(100%)': ''}"></wmslayer>
  <wmslayer [layer]="layerModel.layers[1]" [loader]="loader" [ngStyle]="{opacity: layerModel.planOpacity / 100}"></wmslayer>
  <tileslayer [layer]="layerModel.layers[2]" [loader]="loader" protocol="WMTS" tilewidth="512" tileheight="512" [ngStyle]="{opacity: layerModel.planOpacity / 100}"></tileslayer>
  <tileslayer [layer]="layerModel.layers[3]" [loader]="loader" protocol="WMTS" tilewidth="512" tileheight="512" [ngStyle]="{opacity: layerModel.otherPlansOpacity / 100}"></tileslayer>
  <mapfeaturelayer *ngIf="planModel.plan" [layer]="layerModel.layers[4]" [ngStyle]="{opacity: layerModel.planOpacity / 100, stroke: (['beheersverordening', 'omgevingsvergunning', 'voorbereidingsbesluit', 'gemeentelijk plan; voorbereidingsbesluit'].includes(planModel.plan.typePlan)? '#00f': '#000')}">
    <canvassymbolizer [geometry]="planModel.plan.geometrie" [ngStyle]="highline"></canvassymbolizer>
    <canvassymbolizer [geometry]="planModel.plan.geometrie" [ngStyle]="bumps"></canvassymbolizer>
  </mapfeaturelayer>
  <vectortileslayer [layer]="layerModel.layers[5]" [loader]="loader" [cssFunction]="imowModel.cssFunction" [ngStyle]="{opacity: layerModel.planOpacity / 100}">
    <canvassymbolizer [ngStyle]="baseline"></canvassymbolizer>
  </vectortileslayer>
  <vectortileslayer *ngIf="planModel.plan" [layer]="layerModel.layers[5]" [filter]="planModel.plan.locatieIdentificatie" [ngStyle]="{opacity: layerModel.planOpacity / 100}">
    <canvassymbolizer [ngStyle]="highline" style="stroke-linejoin: bevel"></canvassymbolizer>
    <canvassymbolizer [ngStyle]="bumps"></canvassymbolizer>
  </vectortileslayer>
  <mapfeaturelayer [layer]="layerModel.layers[6]">
    <canvassymbolizer [geometry]="highlightModel.imroHighlight['geometrie']" class="blackhighlight"></canvassymbolizer>
    <canvassymbolizer [geometry]="highlightModel.imroHighlight['geometrie']" [ngStyle]="highline" style="stroke: #f40"></canvassymbolizer>
  </mapfeaturelayer>
  <vectortileslayer [layer]="layerModel.layers[7]" [loader]="loader" [filter]="highlightModel.imowHighlight">
    <canvassymbolizer class="blackhighlight"></canvassymbolizer>
    <canvassymbolizer [ngStyle]="highline" style="stroke: #f40"></canvassymbolizer>
  </vectortileslayer>
<!--  <geometrylayer geometry="measureModel.geometry" deepwatch="true" class="measure"></geometrylayer>-->
  <geometrylayer [geometry]="markerModel.xy"></geometrylayer>
</n-map>
<div *ngIf="loader.numLoading == 1" class="loader">
  <span class="fa fa-spinner"></span> nog 1 plaatje aan het laden...
</div>
<div *ngIf="loader.numLoading > 1" class="loader">
  <span class="fa fa-spinner"></span> {{loader.numLoading}} plaatjes aan het laden...
</div>
<div class="coordinates">
  {{nineyDefaultService.defaultFocusModel.incubationCenterScale.centerX.toFixed(0)}}, {{nineyDefaultService.defaultFocusModel.incubationCenterScale.centerY.toFixed(0)}}
</div>
<div class="box-sm">
  <button (click)="zoomIn()" title="Inzoomen" class="btn btn-default btn-sm">
    <span class="fa fa-plus"></span>
  </button>
  <button (click)="zoomOut()" title="Uitzoomen" class="btn btn-default btn-sm">
    <span class="fa fa-minus"></span>
  </button>
<!--  <button ng-click="measureModel.toggle()" title="Afstand en/of oppervlakte meten" class="btn btn-default btn-sm" ng-class="{'btn-primary': measureModel.geometry}">
    <span class="glyphicon glyphicon-resize-horizontal"></span>
  </button>
  <button ng-click="windowModel.toggleVisible(1)" title="Een andere achtergrondkaart kiezen" class="btn btn-default btn-sm" ng-class="{'btn-primary': windowModel.windows[1].visible}">
    <span class="glyphicon glyphicon-th-list"></span>
  </button>
  <button ng-if="(planModel.plan.tabFilter == 'JURIDISCH') || (planModel.plan.tabFilter == 'ACTUEEL')" ng-click="printService.preparePrint(planModel.plan.identificatie)" title="De kaart printen" class="btn btn-default btn-sm" ng-class="{'btn-primary': windowModel.windows[2].visible}">
    <span class="glyphicon glyphicon-print"></span>
  </button>
  <button ng-if="planModel.plan" ng-click="planModel.zoomToPlan()" title="Naar het (hele) gekozen plan zoomen" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-fullscreen"></span>
  </button>-->
  <button *ngIf="markerModel.xy" (click)="markerModel.zoomToMarker()" title="Naar de gemarkeerde plek zoomen" class="btn btn-default btn-sm">
    <span class="fa fa-map-marker"></span>
  </button>
</div>
<!--<div ng-if="measureModel.geometry" class="box-md">
  <h5>RD-coördinaten</h5>
  {{measureModel.viewCoords}}
  <h5>Afstand</h5>
  {{measureModel.viewLength}}
  <h5>Oppervlakte</h5>
  {{measureModel.viewArea}}
</div>
<div metricscalebar centerscale="defaultFocusModel.animationCenterScale"></div>-->
