:host {
  display: block;
  position: relative;
  height: 100%;
}
n-map {
  height: 100%;
  margin: 0 -11px;
}
.blackhighlight {
  stroke: #fff;
  stroke-width: 8px;
  --stroke-filter: blur(3px);
  fill: rgba(0, 0, 0, 0.6);
}
.whitehighlight {
  stroke: #fff;
  stroke-width: 4px;
  filter: blur(2px);
  fill: rgba(255, 255, 255, 0.5);
}
.loader {
  position: absolute;
  left: 8px;
  bottom: 8px;
  font-size: 10px;
  text-shadow: 0 0 2px #fff;
}
.coordinates {
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 10px;
  text-shadow: 0 0 2px #fff;
}
.box-sm {
  position: absolute;
  right: 12px;
  top: 16px;
}
.box-sm .btn-sm {
  display: block;
}
