<ul class="list-group list-group-flush">
  <div *ngIf="imowModel.markerLoading || imowModel.numLoading" class="empty"></div>
  <ng-template ngFor let-infos1 [ngForOf]="infos" let-i="index">
    <li *ngIf="(((i == 0) && !infos[1].length) || ((i == 1) && !infos[0].length && infos[1].length)) && infos[2].length" class="list-group-item header">op deze plek <span *ngIf="infos[0].length + infos[1].length" class="small light">({{infos[0].length + infos[1].length}})</span></li>
    <li *ngIf="(i == 0) && infos[0].length && infos[1].length" class="list-group-item header">specifiek op deze plek <span class="small light">({{infos[0].length}})</span></li>
    <li *ngIf="(i == 1) && infos[0].length && infos[1].length" class="list-group-item header">ook op deze plek <span class="small light">({{infos[1].length}})</span></li>
    <li *ngIf="(i == 2) && infos[2].length" class="list-group-item header">op deze plek in andere plannen <span class="small light">({{infos[2].length}})</span></li>
    <li *ngFor="let info of infos1" class="list-group-item info">
      <div class="legend"><img [src]="info.image"/></div>
      <div [innerHTML]="info.text"></div>
      <div (mouseover)="highlightModel.omgevingsdocumentHighlight = info.locatieIdentificatie" (mouseout)="highlightModel.omgevingsdocumentHighlight = 'nothing'" (click)="openInfo(info.regelteksten)" title="Bijbehorende regels tonen" class="overlay"></div>
    </li>
  </ng-template>
  <ng-template [ngIf]="appService.settings.placeInfoShowOrphans">
    <li *ngIf="orphanLocaties.length" class="list-group-item header">zonder annotatie <span class="small light">({{orphanLocaties.length}})</span></li>
    <li *ngFor="let locatie of orphanLocaties" class="list-group-item info">
      <div class="legend"><img src="assets/nosymbol.png"/></div>
      <div>
        <strong>{{locatie.noemer || "Geen naam"}}</strong><br/>
        locatie
      </div>
      <div (mouseover)="highlightModel.omgevingsdocumentHighlight = locatie.identificatie" (mouseout)="highlightModel.omgevingsdocumentHighlight = 'nothing'" class="overlay no-pointer"></div>
    </li>
  </ng-template>
</ul>
<canvas #canvas [ngStyle]="{display: appService.settings.placeInfoDebugMode? 'block': 'none'}" style="background-color: rgba(255, 0, 0, 0.2);"></canvas>
