.highlight-box {
  background-color: #e5e5e5;
  padding: 30px 20px 20px;
  margin: 0 -20px;

  h1 {
    margin-top: 0;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 32px;
    font-family: 'Asap' ,sans-serif;
    font-weight: 700;
  }

  p {
    margin: initial;
  }
}

.grid {
  display: grid;
}

.gridrow {
  grid-column: 1;
}
