<div class="panel-group dso-content">
  <div class="dso-regels">
    <div class="highlight-box">
      <div class="flex">
        <div class="flexleft"><h1>{{planInfo.citeertitel}}</h1>
        </div>
        <div class="flexright" title="Zoom naar plangeometrie" appTippy [tippyOptions]="{arrow: true, theme: 'dso'}">
          <dso-svg-icon class="clickable" icon="/assets/icons.svg#map-location"></dso-svg-icon>
        </div>
      </div>
      <div>
        {{planInfo.opschrift}}
      </div>
      <div class="grid">
        <div class="gridrow">
          <p>{{planInfo.type.waarde}} - {{planInfo.aangeleverdDoorEen.naam}}
            <span class="pull-right docid ng-star-inserted">{{planInfo.identificatie}}</span>
          </p>
        </div>
        <div class="gridrow ng-star-inserted">
          <p>{{planInfo.procedurestatus}} - {{planInfo.inwerkingVanaf}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
