<h2 *ngIf="element.type === 'BOEK' || element.type === 'DEEL' || element.type === 'HOOFDSTUK' || element.type === 'BIJLAGE'" class="document-element__title" [class]="isOpenable ? 'clickable' : 'cursor-default'">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</h2>
<h3 *ngIf="element.type === 'DIVISIE' || element.type === 'DIVISIETEKST'" class="document-element__title" [class]="isOpenable ? 'clickable' : 'cursor-default'" [ngClass]="'title-' + level">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</h3>
<h4 *ngIf="element.type === 'TITEL' || element.type === 'AFDELING'" class="document-element__title" [class]="isOpenable ? 'clickable' : 'cursor-default'">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</h4>
<h5 *ngIf="element.type === 'PARAGRAAF' || element.type === 'SUBPARAGRAAF' || element.type === 'SUBSUBPARAGRAAF'" class="document-element__title" [class]="isOpenable ? 'clickable' : 'cursor-default'">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</h5>
<h6 *ngIf="element.type === 'ARTIKEL'" class="document-element__title" [class]="isOpenable ? 'clickable' : 'cursor-default'">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</h6>

<ng-template #content>
   <span *ngIf="!this.appService.settings.documentOpenMode"
         class="toggle__chevron fa fa-angle-right"
         [ngClass]="{'toggle__chevron-rotated' : element.isOpen, 'fa-angle-right': isOpenable}">
   </span>
  <div class="document-element__title-header" [class.inactive]="inactive">
    <div class="document-element__title-header-item">{{element.label | uppercase }}</div>
    <div class="document-element__title-header-item">{{element.nummer}}</div>
    <div class="document-element__title-header-item">
      <span [innerHTML]="element.opschrift"></span>
      <span *ngIf="element.gereserveerd" class="document-element__title-header-item">[gereserveerd]</span>
      <span *ngIf="element.vervallen" class="document-element__title-header-item">[vervallen]</span>
    </div>
  </div>
  <div class="text-default__meta"></div>
</ng-template>
