.document-element__title {
  display: flex;

  &-header {
    display: flex;
    flex: 1;

    &-item {
      margin-right: 6px;
    }
  }
}

.toggle__chevron {
  width: 25px;
  height: 1em;
  text-align: center;
  transition-duration: .2s;
  transition-property: transform;

  &-rotated {
    transform: rotate(90deg);
  }
}

h2 {
  color: #275937;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  color: #275937;
  font-weight: 600;
}

h4 {
  font-size: 22px;
  color: #275937;
  font-weight: 400;
}

h5 {
  color: #191919;
  font-size: 1.15rem;
  font-style: italic;
  font-weight: 100;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #275937;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.title-4 {
  font-size: 22px;
  color: #275937;
  font-weight: 600;
}

.title-5 {
  font-size: 22px;
  color: #275937;
  font-weight: 400;
}

.title-6 {
  font-size: 1.15rem;
  font-style: italic;
  font-weight: 100;
  color: #191919;
}
