<ng-template [ngIf]="toc" [ngIfElse]="header">
  <ng-container *ngTemplateOutlet="headercontent"></ng-container>
</ng-template>

<ng-template #header>
  <h2 *ngIf="element.type === 'BOEK' || element.type === 'DEEL' || element.type === 'HOOFDSTUK' || element.type === 'BIJLAGE'">
    <ng-container *ngTemplateOutlet="headercontent"></ng-container>
  </h2>
  <h3 *ngIf="element.type === 'DIVISIE' || element.type === 'DIVISIETEKST'" [ngClass]="'title-' + level">
    <ng-container *ngTemplateOutlet="headercontent"></ng-container>
  </h3>
  <h4 *ngIf="element.type === 'TITEL' || element.type === 'AFDELING'">
    <ng-container *ngTemplateOutlet="headercontent"></ng-container>
  </h4>
  <h5 *ngIf="element.type === 'PARAGRAAF' || element.type === 'SUBPARAGRAAF' || element.type === 'SUBSUBPARAGRAAF'">
    <ng-container *ngTemplateOutlet="headercontent"></ng-container>
  </h5>
  <h6 *ngIf="element.type === 'ARTIKEL'">
    <ng-container *ngTemplateOutlet="headercontent"></ng-container>
  </h6>
</ng-template>

<ng-template #headercontent>
  <div *ngIf="!toc && !display.allOpen" class="fa fa-angle-right chevron" [class.rotated]="element.isOpen" [class.hidden]="element.gereserveerd || element.vervallen" [class.inactive]="inactive"></div>
  <div class="headercontent" [class.inactive]="inactive" [ngStyle]="toc? {'padding-left': (level - 1) * 1.5 + 'rem', 'font-weight': (level - 1)? 'inherit': 'bold'}: null" [innerHTML]="leftRightHeader || element.viewHeader"></div>
</ng-template>
