:host {
  display: block;
}

.headercontent {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  gap: 6px;
}

.chevron {
  width: 25px;
  height: 1em;
  text-align: center;
  transition-duration: .2s;
  transition-property: transform;
}
.chevron.rotated {
  transform: rotate(90deg);
}
.chevron.hidden {
  visibility: hidden;
}

h2, h3, h4, h5, h6,
.title-1, .title-2, .title-3, .title-4 {
  display: flex;
  margin: 0.25rem 0 0.75rem;
  line-height: 1;
  color: #275937;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 22px;
  font-weight: 600;
}
h4 {
  font-size: 22px;
  font-weight: 400;
}
h5 {
  font-size: 1.15rem;
  font-style: italic;
  font-weight: 100;
  color: #191919;
}
h6 {
  font-size: 1rem;
  font-weight: 600;
}
.title-1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.title-2 {
  font-size: 22px;
  font-weight: 600;
}
.title-3 {
  font-size: 22px;
  font-weight: 400;
}
.title-4 {
  font-size: 1.15rem;
  font-style: italic;
  font-weight: 100;
  color: #191919;
}
