:host {
  display: flex;
  min-height: 150px;
  margin-top: 8px;
  flex-direction: column;
}
.btn-container {
  position: sticky;
  top: 1px;
  z-index: 4;
}
.btn-link {
  position: absolute;
  right: 0;
  color: #8b4a6a;
}
.list-group-item.info {
  display: flex;
  align-items: center;
  cursor: default;
}
.list-group-item.info .legend {
  width: 60px;
}
.list-group-item.info .links {
  position: relative;
  margin-top: 10px;
  padding: 10px 30px 10px 15px;
  background-color: #e5e5e5;
}
.list-group-item.info .links .btn-close {
  position: absolute;
  right: 13px;
  top: 10px;
}
.list-group-item.info .overlay.no-pointer {
  cursor: inherit;
}
