:host {
  display: flex;
  min-height: 150px;
  margin-top: 8px;
  flex-direction: column;
}
.btn-container {
  position: sticky;
  top: 1px;
  z-index: 4;
  .btn-link {
    position: absolute;
    right: 0;
    color: #8b4a6a;
  }
}
