.progressbar {
  height: 8px;
  width: calc(100% - 32px);
  position: absolute;
}

.progress-line, .progress-line:before {
  height: 8px;
  width: 100%;
  margin: 0
}

.progress-line {
  background-color: #fff;
  display: flex
}

.progress-line:before {
  background-color: #39870c;
  content: "";
  -webkit-animation: running-progress 2s cubic-bezier(.4, 0, .2, 1) infinite;
  animation: running-progress 4s cubic-bezier(.4, 0, .2, 1) infinite
}

@-webkit-keyframes running-progress {
  0% {
    margin-left: 0;
    margin-right: 100%
  }
  50% {
    margin-left: 25%;
    margin-right: 0
  }
  to {
    margin-left: 100%;
    margin-right: 0
  }
}

@keyframes running-progress {
  0% {
    margin-left: 0;
    margin-right: 100%
  }
  50% {
    margin-left: 25%;
    margin-right: 0
  }
  to {
    margin-left: 100%;
    margin-right: 0
  }
}
