<div *ngIf="nineyDefault.defaultFocusModel.centerScale" class="main-container">
  <as-split direction="horizontal">
    <as-split-area size="33.3333" minSize="10">
      <dso-search-place *ngIf="stateModel.state == 'SEARCH_PLACE'"></dso-search-place>
      <dso-select-plan *ngIf="stateModel.state == 'SELECT_PLAN'"></dso-select-plan>
      <dso-search-plan *ngIf="stateModel.state == 'SEARCH_PLAN'"></dso-search-plan>
    </as-split-area>
    <as-split-area size="66.6667"  minSize="10">
      <dso-map-panel></dso-map-panel>
    </as-split-area>
    <as-split-area size="0" minSize="0" *ngIf="!planModel.plan">
    </as-split-area>
    <as-split-area minSize="10" *ngIf="planModel.plan">
      <dso-plan-info></dso-plan-info>
      <dso-imro-plan-viewer *ngIf="planModel.plan.versieImro"></dso-imro-plan-viewer>
      <dso-stop-plan-viewer *ngIf="!planModel.plan.versieImro" [structuur]="planModel.plan.structuur"></dso-stop-plan-viewer>
    </as-split-area>
  </as-split>
</div>
<div *ngIf="nineyDefault.defaultFocusModel.centerScale" class="disclaimer">
  De informatie die u hier ziet is niet volledig en heeft géén juridische status. Raadpleeg <a href="https://www.ruimtelijkeplannen.nl/" target="_blank" class="extern">www.ruimtelijkeplannen.nl</a> voor de juiste informatie.
  Deze omgeving is nog in ontwikkeling, en maakt deel uit van het digitaal stelsel voor de Omgevingswet.
  <div (click)="settingsVisible = !settingsVisible" class="setting-btn">Instellingen</div>
</div>
<div *ngIf="settingsVisible" class="setting-ct">
  <h4>Instellingen</h4>
  <div>
    <label>
      <input type="checkbox" [(ngModel)]="appService.settings.placeInfoShowOrphans"/><span class="checkmark"></span>
      Plekinfo weeslocaties
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" [(ngModel)]="appService.settings.placeInfoDebugMode"/><span class="checkmark"></span>
      Plekinfo debug
    </label>
  </div>
</div>
<router-outlet></router-outlet>
