<div class="main-container">
  <as-split direction="horizontal">
    <as-split-area size="33.3333" minSize="10">
      <dso-search-place *ngIf="stateModel.state == 'SEARCH_PLACE'"></dso-search-place>
      <dso-select-plan *ngIf="stateModel.state == 'SELECT_PLAN'"></dso-select-plan>
      <dso-search-plan *ngIf="stateModel.state == 'SEARCH_PLAN'"></dso-search-plan>
    </as-split-area>
    <as-split-area size="66.6667"  minSize="10">
      <dso-map-panel *ngIf="nineyDefault.defaultFocusModel.animationCenterScale"></dso-map-panel>
    </as-split-area>
    <as-split-area size="0" minSize="0" *ngIf="!planModel.plan">
    </as-split-area>
    <as-split-area minSize="10" *ngIf="planModel.plan">
      <dso-plan-info></dso-plan-info>
      <dso-imro-plan-viewer *ngIf="planModel.plan.versieImro"></dso-imro-plan-viewer>
      <dso-stop-plan-viewer *ngIf="!planModel.plan.versieImro" [plan]="planModel.plan" [structuur]="planModel.plan.structuur" [componentIdentificaties]="planModel.componentIdentificaties"></dso-stop-plan-viewer>
    </as-split-area>
  </as-split>
</div>
<div class="disclaimer">
  De informatie die u hier ziet is niet volledig en heeft géén juridische status. Raadpleeg <a href="https://www.ruimtelijkeplannen.nl" class="extern">https://www.ruimtelijkeplannen.nl</a> voor de juiste informatie.
  Deze omgeving is nog in ontwikkeling, en maakt deel uit van het digitaal stelsel voor de Omgevingswet.
  <div (click)="settingsVisible = !settingsVisible" class="setting-btn">Instellingen</div>
</div>
<div *ngIf="settingsVisible" class="setting-ct">
  <h4>Settings</h4>
  <label for="headertype">
    <input id="headertype" type="checkbox" [(ngModel)]="appService.settings.placeInfoDebugMode"> Plekinfo debug
  </label>
  <br>
  <label for="openmode">
    <input id="openmode" type="checkbox" [(ngModel)]="appService.settings.documentOpenMode" (change)="appService.documentOpenModeChange$.next()"> Document integraal
  </label>
</div>
<router-outlet></router-outlet>
