<div class="main-container">
  <div class="row">
    <div class="col-sm-6">
      <dso-document-viewer></dso-document-viewer>
    </div>
    <div class="col-sm-6">
      map
    </div>
  </div>

</div>
<div class="disclaimer">
  De informatie die u hier ziet is niet volledig en heeft géén juridische status. Raadpleeg
  <a href="http://www.ruimtelijkeplannen.nl" class="extern">http://www.ruimtelijkeplannen.nl</a>
  voor de juiste informatie. Deze omgeving is nog in ontwikkeling, en maakt deel uit van het digitaal stelsel voor de
  omgevingswet.
</div>

