.main-container {
  height: calc(100vh - 20px);
}

.disclaimer {
  height: 20px;
  background-color: #fff3cd;
  right: 0;
  font-size: 10px;
  padding: 2px;
  text-align: center;
  position: relative;
  .setting-btn {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 10px;
  }
}

.setting-ct {
  position: fixed;
  background-color: white;
  min-height: 50px;
  min-width: 300px;
  right: 10px;
  bottom: 30px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.extern:after {
  background: url('../assets/icons.svg#img-external-link') no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 1.5em;
  vertical-align: top;
  width: 1.5em;
}

:host {
  as-split {
    overflow: inherit;

    ::ng-deep .as-split-gutter {
      background-color: transparent !important;

    }
  }
}
