.supermarker {
  border-left: 2px solid #8b4a6a;
  border-radius: 4px;
  padding-left: 2px;
}
.diff {
  display: flex;
  gap: 1rem;
  .side {
    width: 50%;
  }
}
.marker-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  .marker {
    position: absolute;
    width: 10px;
    height: calc(100% - 0.75rem);
    border-left: 2px solid #8b4a6a;
    border-radius: 4px;
    &.hidden {
      visibility: hidden;
    }
    &.trans {
      opacity: 0.5;
    }
  }
  .nummer {
    margin-left: 1.25rem
  }
  .inhoud {
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 20px;
  }
  .redalert {
    position: absolute;
    right: -1px;
    top: -5px;
    width: 21px;
    height: 29px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    rotate: 45deg;
    pointer-events: none;
  }
}

.btn-title {
  display: flex;
  width: 100%;
  min-height: 24px;
  border: 0;
  padding: 0;
  justify-content: space-between;
  text-align: left;
  &:focus {
    box-shadow: none;
  }
  &.btn-link {
    margin: 0;
  }
}
.btn-link.trans {
  opacity: 0.2;
}

dso-document-element-title.filtered {
  text-decoration: underline #f9e11e;
}

.insert {
  background-color: rgba(57, 135, 12, 0.1);
  .emphasize {
    background-color: rgba(57, 135, 12, 0.5);
  }
}
.update {
  background-color: rgba(255, 153, 0, 0.1);
  .emphasize {
    background: rgba(255, 153, 0, 0.6);
  }
}
.delete {
  background-color: rgba(206, 63, 81, 0.1);
  .emphasize {
    background-color: rgba(206, 63, 81, 0.4);
  }
}
.trail {
  text-decoration: underline rgb(255, 153, 0);
}

.di.di-sm {
  width: 20px;
  height: 20px;
}

.od-IntIoRef, .od-Opschrift {
  display: inline;
}

.od-Al, .od-Begrip, .od-Definitie, .od-Lijstaanhef, .od-Lijstsluiting, .od-Term, .od-Tussenkop, .od-Figuur, .od-Tabel table, .od-Kadertekst {
  margin-bottom: 0.75rem;
}

.od-Noot {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: #191919;
  cursor: text;
  user-select: text;
  .od-Al {
    position: absolute;
    z-index: 1;
    max-width: 300px;
    border: 1px solid #6ca4d9;
    padding: 8px 32px 8px 8px;
    background-color: #e1ecf7;
    a.hide {
      display: block;
      position: absolute;
      right: 12px;
      top: 8px;
      color: inherit;
    }
  }
}

.od-Definitie, .od-Tussenkop {
  font-style: italic;
}

.od-LiContainer {
  display: flex;
  .od-LiNummer {
    padding-right: 0.5rem;
  }
}

.od-Term {
  font-weight: 700;
}

.od-Figuur {
  width: 100%;

  img {
    margin-left: 25px;
    max-width: 90%;
    height: auto;
  }

  .od-Bijschrift {
    margin-left: 25px;
    padding-top: 0.75rem;
    color: #555;
  }
}

.od-Tabel {
  caption {
    caption-side: top;
    color: #555;
  }
  thead {
    font-weight: 600;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .align-center {
    text-align: center;
  }
}

.od-Kadertekst {
  border: 1px solid #dee2e6;
  padding: 0.75rem 0.75rem 0;
  .od-Opschrift {
    font-weight: 700;
  }
}

.inactive {
  color: #999;
  a, table, caption {
    color: #999;
  }
  img {
    opacity: 0.4;
  }
}

.highlight {
  background-color: #fcef84;
}
