<div class="panel-group dso-content">
  <div #scrollHeader class="scrollheader" [ngClass]="{sticktotop: scrolledTop >= startOffsetOfScrollbar}" [style.top.px]="scrolledTop">
    <ul role="tablist" class="dso-nav dso-nav-sub">
      <li *ngFor="let tab of headers" role="tab"
          class="clickable dso-outline dso-active"
          [ngClass]="{'dso-active': tab === activeHeader}"
          tabindex="50"
          (click)="onChangeTab(tab)">
        <a class="active">{{tab.label}}</a>
      </li>
    </ul>
    <div class="spinner-area">
      <dso-loader></dso-loader>
    </div>
  </div>

  <dso-plan-accordion [item]="tabData" state="1"></dso-plan-accordion>
</div>
