:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;
}
.btn-rnd {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 0;
  color: #275937;
  background-color: rgb(243, 243, 243);
}
.btn-rnd:hover {
  border: 4px solid #8b4a6a;
}
.form-control {
  margin-top: 12px;
  border: 1px solid #275937;
  border-radius: 0;
}
.list-group-item {
  cursor: pointer;
}
.list-group-item.active {
  border-color: rgba(0, 0, 0, 0.125);
  color: inherit;
  background-color: #f2f2f2;
}
.list-group-item:hover {
  background-color: #f2f2f2;
}
.list-group-item strong {
  color: rgb(39, 89, 55);
  font-size: 18px;
}
.alert {
  margin-top: 1rem;
}
