:host {
  display: block;
}
.header-maintable {
  margin: 0 -20px;
  padding: 25px 20px;
  background-color: #e5e5e5;
}
.header {
  display: flex;
  margin-bottom: 7px;
  align-items: flex-start;
  gap: 7px;
  h4 {
    flex-grow: 1;
    font-size: 32px;
  }
  .btn-link {
    position: relative;
    top: 4px;
    dso-svg-icon.bor {
      border: 2px solid;
      border-radius: 14px;
      padding: 3px 0;
    }
  }
}
table {
  margin: 0;
}
tr td {
  padding: 0 8px 8px 0;
  vertical-align: top;
}
tr:last-of-type td {
  padding: 0 8px 0 0;
}
.maintable {
  width: 100%;
  .expert {
    padding-right: 0;
    .btn-link {
      display: block;
      float: right;
      border: 0;
    }
  }
  .anchor {
    width: 132px;
  }
  .versions {
    padding-top: 0.5rem;
  }
}
.innertable tr:not(.active) {
  color: #39870c;
}
.innertable tr:not(.active):hover {
  text-decoration: underline;
  cursor: pointer;
}
.innertable tr.active {
  font-weight: bold;
  color: #275937;
  cursor: default;
}
.list-group {
  max-height: 220px;
  margin-left: -1.25rem;
  overflow-y: auto;
  .list-group-item {
    padding: 0.5rem 1.25rem;
  }
}
.alert.alert-info {
  margin: 7px 0 0;
}
.alert.alert-warning {
  margin: 1rem 0 0;
  ul {
    margin: 0;
  }
}
