:host {
  display: flex;
  height: 100%;
  padding-top: 25px;
  flex-direction: column;
}
h3 {
  margin-bottom: 20px;
  font-size: 1.55rem;
}
.alert {
  margin-top: 1rem;
}
.btn-default {
  height: 40px;
  border: 1px solid #39870c;
  padding: 0 16px;
  color: #39870c;
}
.btn-default:focus, .btn-default:hover {
  color: #fff;
  background-color: #39870c;
}
