:host {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 150px;
  flex-grow: 1;
  margin-top: 8px;
}
.tekstenbar {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
}
.filterbar {
  .filter {
    display: inline-block;
    position: relative;
    margin: 0 12px 12px 0;
    border-radius: 4px;
    padding: 4px 28px 4px 8px;  
    background-color: #f9e11e;
    a.hide {
      position: absolute;
      display: block;
      right: 8px;
      top: 4px;
      color: inherit;    
    }
  }
}
.toolbar {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  flex-grow: 1;
  flex-shrink: 0;
  padding-bottom: 12px;
  .btn-letter {
    padding: 1px 8px;
    span {
      font-size: 18px;
    }
    &.selected {
      span {
        color: #fff;
      }
    }
  }
}
.tab-content {
  flex-grow: 1;
}
.anno {
  max-height: calc(100% - 220px);
  padding: 15px 0;
  background-color: #fff;
}
