:host {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 150px;
  flex-grow: 1;
  margin-top: 8px;
}
.tekstenbar {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
}
.filterbar {
  flex-grow: 1;
  .label {
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
    border-radius: 4px;
    padding: 4px 28px 4px 8px;  
    background-color: #f9e11e;
    a.hide {
      position: absolute;
      display: block;
      right: 8px;
      top: 4px;
      color: inherit;    
    }
  }
}
.toolbar {
  display: flex;
  gap: 12px;
  padding-bottom: 9px;
}
.tab-content {
  flex-grow: 1;
  overflow: auto;
}
.anno {
  padding: 15px 0;
  background-color: #fff;
}
