@import './node_modules/bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #39870c;
  text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: Asap,sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #275937;
}

.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.dso-outline {
  outline: none;
}

span.dso-outline:focus {
  font-weight: bolder;
  color: green;
}

.clickable {
  cursor: pointer;
}

.panel-group {
  margin-bottom: 24px;
}

.flex {
  display: flex;
}

.flexleft {
  flex: 1;
}

.pull-right {
 float: right!important;
}

svg.di {
  height: 1.5em;
  vertical-align: top;
  width: 1.5em;
}

svg:not(:root) {
  overflow: hidden;
}

.tippy-tooltip.dso-theme {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #39870c;
  color: #39870c
}

.tippy-tooltip.dso-theme .tippy-backdrop {
  background-color: #fff
}

.tippy-tooltip.dso-theme .tippy-arrow:after,
.tippy-tooltip.dso-theme .tippy-arrow:before,
.tippy-tooltip.dso-theme .tippy-roundarrow:after,
.tippy-tooltip.dso-theme .tippy-roundarrow:before {
  content: "";
  position: absolute;
  z-index: -1
}

.tippy-tooltip.dso-theme .tippy-roundarrow {
  fill: #fff
}

.tippy-tooltip.dso-theme .tippy-roundarrow:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEuNDE0Ij48cGF0aCBkPSJNMyA4czIuMDIxLS4wMTUgNS4yNTMtNC4yMThDOS41ODQgMi4wNTEgMTAuNzk3IDEuMDA3IDEyIDFjMS4yMDMtLjAwNyAyLjQxNiAxLjAzNSAzLjc2MSAyLjc4MkMxOS4wMTIgOC4wMDUgMjEgOCAyMSA4SDN6IiBmaWxsPSIjMDAwODE2IiBmaWxsLW9wYWNpdHk9Ii4yMDQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
  background-size: 24px 8px;
  width: 24px;
  height: 8px;
  left: 0;
  top: 0;
  fill: #39870c
}

.tippy-popper[x-placement^=top] .tippy-tooltip.dso-theme .tippy-roundarrow:after {
  top: 1px;
  transform: rotate(180deg)
}

.tippy-popper[x-placement^=top] .tippy-tooltip.dso-theme .tippy-arrow {
  border-top-color: #fff
}

.tippy-popper[x-placement^=top] .tippy-tooltip.dso-theme .tippy-arrow:after {
  border-top: 7px solid #fff;
  top: -7px
}

.tippy-popper[x-placement^=top] .tippy-tooltip.dso-theme .tippy-arrow:before {
  border-top: 7px solid #39870c;
  bottom: -1px
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.dso-theme .tippy-roundarrow:after {
  top: -1px
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.dso-theme .tippy-arrow {
  border-bottom-color: #fff
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.dso-theme .tippy-arrow:after {
  border-bottom: 7px solid #fff;
  bottom: -7px
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.dso-theme .tippy-arrow:before {
  border-bottom: 7px solid #39870c;
  bottom: -6px
}

.tippy-popper[x-placement^=left] .tippy-tooltip.dso-theme .tippy-roundarrow:after {
  left: 1px;
  top: 0;
  transform: rotate(90deg)
}

.tippy-popper[x-placement^=left] .tippy-tooltip.dso-theme .tippy-arrow {
  border-left-color: #fff
}

.tippy-popper[x-placement^=left] .tippy-tooltip.dso-theme .tippy-arrow:after {
  border-left: 7px solid #fff;
  left: -7px
}

.tippy-popper[x-placement^=left] .tippy-tooltip.dso-theme .tippy-arrow:before {
  border-left: 7px solid #39870c;
  left: -6px
}

.tippy-popper[x-placement^=right] .tippy-tooltip.dso-theme .tippy-roundarrow:after {
  left: -1px;
  top: 0;
  transform: rotate(-90deg)
}

.tippy-popper[x-placement^=right] .tippy-tooltip.dso-theme .tippy-arrow {
  border-right-color: #fff
}

.tippy-popper[x-placement^=right] .tippy-tooltip.dso-theme .tippy-arrow:after {
  border-right: 7px solid #fff;
  right: -7px
}

.tippy-popper[x-placement^=right] .tippy-tooltip.dso-theme .tippy-arrow:before {
  border-right: 7px solid #39870c;
  right: -6px
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.dso-theme .tippy-arrow,
.tippy-popper[x-placement^=bottom] .tippy-tooltip.dso-theme .tippy-roundarrow,
.tippy-popper[x-placement^=top] .tippy-tooltip.dso-theme .tippy-arrow,
.tippy-popper[x-placement^=top] .tippy-tooltip.dso-theme .tippy-roundarrow {
  transform: translateX(-1px)
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.dso-theme .tippy-arrow:after,
.tippy-popper[x-placement^=bottom] .tippy-tooltip.dso-theme .tippy-arrow:before,
.tippy-popper[x-placement^=top] .tippy-tooltip.dso-theme .tippy-arrow:after,
.tippy-popper[x-placement^=top] .tippy-tooltip.dso-theme .tippy-arrow:before {
  left: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent
}

.tippy-popper[x-placement^=left] .tippy-tooltip.dso-theme .tippy-arrow,
.tippy-popper[x-placement^=left] .tippy-tooltip.dso-theme .tippy-roundarrow,
.tippy-popper[x-placement^=right] .tippy-tooltip.dso-theme .tippy-arrow,
.tippy-popper[x-placement^=right] .tippy-tooltip.dso-theme .tippy-roundarrow {
  transform: translateY(-1px)
}

.tippy-popper[x-placement^=left] .tippy-tooltip.dso-theme .tippy-arrow:after,
.tippy-popper[x-placement^=left] .tippy-tooltip.dso-theme .tippy-arrow:before,
.tippy-popper[x-placement^=right] .tippy-tooltip.dso-theme .tippy-arrow:after,
.tippy-popper[x-placement^=right] .tippy-tooltip.dso-theme .tippy-arrow:before {
  top: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent
}


