:host {
  display: block;
  height: 100%;
  background-color: #c3baa9;
  background-image: url("../../assets/home.jpg");
  background-position: center;
  background-size: cover;
}
.box {
  position: absolute;
  left: 12%;
  bottom: 20%;
  width: 610px;
  padding: 20px;
  background-color: #fff;
}
.btn-primary {
  margin: 0 0 16px;
  border-color: #39870c;
  padding: 11px 15px;
  font-weight: 500;
  background-color: #39870c;
}
.text-muted {
  max-width: 440px;
}

@media screen and (max-width: 767px) {
  .box {
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    width: auto;
    overflow: auto;
  }
}