<div class="box">
  <h1>Plannen voor de leefomgeving</h1>
  <p>
    Op deze website vindt u de plannen, visies en regelingen van alle overheden in Nederland. Zo kunt u zien welke regels
    ergens gelden voor het bouwen van een huis of bedrijfspand, of het plaatsen van windmolens.
  </p>
  <div>
    <a routerLink="/viewer" class="btn btn-primary">Naar de plannen</a>
  </div>
  <div class="text-muted">
    <small>
      De informatie op deze website is niet volledig en heeft géén juridische status. Raadpleeg
      <a href="https://www.ruimtelijkeplannen.nl/">www.ruimtelijkeplannen.nl</a> voor de juiste informatie. Deze website en
      de onderliggende database zijn nog in ontwikkeling, en maken deel uit van het digitaal stelsel voor de Omgevingswet. 
    </small>
  </div>
</div>
